
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body{
margin: 0;
padding: 0;
color: black;
width: 100%;
background-color: white;
font-family: 'Montserrat', sans-serif;

}
h1 {
/*font-family:"Arvo";*/
font-weight:800;
font-size: 75px;
text-align: center;
text-shadow: 3px 3px 3px #333333;
color: #fff;
margin: 0;
padding: 0;
}
h2 {
/*font-family:"Arvo";*/
font-weight: 800;
font-size: 60px;
text-align: center;
text-shadow: 3px 3px 3px #333333;
color: #fff;
margin: 0;
padding: 0;
}

.center { margin: 0 auto; }
.content{ margin: 0 auto; width: 960px; }
.clear { clear: both; }

#header {
width: 100%;
background-color: white;
color: black;
border-bottom: 5px solid black;
/*background: url('../img/header-bg.png');*/
height: 80px;
position: fixed;
/*margin-top: 30px;*/
}
#nav { width: 410px; float: right; margin-top: 20px; }
#logo a {text-decoration: none; float: left; font-size: 30px; margin-top: 20px; font-weight: bold; }
#nav ul{
list-style: none;
display: block;
margin: 0 auto;
list-style: none;
}
#nav li{
margin-top: 9px;
float: left;
padding-left: 21px;
}
#nav li a { color: black; opacity:1; font-size: 16px; text-decoration: none; }
#nav li a.active { color: blue; opacity:1; border-bottom: 2px solid blue; }
#nav li a:hover { color: blue opacity:1; }

a:visited {
  text-decoration: none;
  color: black;
}
#text-box {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 15px;
  min-width: 100%;
  border-radius: 15px;
  margin-top: 110px;

}
/*#ribbon { background: url('../img/ribbon.png')no-repeat; width: 251px; height: 48px; margin: 0 auto; display: block; position: relative; top: -38px; }*/


#home, #aboutMe, #portfolio, #contact{ width: 100%; }
#home{
/*background:url('../images/art.jpg') 50% 0 no-repeat fixed;*/
/*color: #fff;*/
height: 600px;
margin: 0;
padding: 200px 0 260px 0;
background-size: cover;
}
#aboutMe{
background-color: #fff;
/*color: #333333;*/
height: 300px;
margin: 0 auto;
/*overflow: hidden;*/
padding: 200px 0 260px 0;
}
#portfolio{
/*background: 50% 0 no-repeat fixed;*/
/*color: #fff;*/
height: 600px;
padding: 170px 0 0 0;
background-size: cover;
}
#contact{
background-color: #fff;
/*color: #333333;*/
height: 300px;
padding: 200px 0;
}


@keyframes back-change {
    0%   {background-color: red;}
    10%  {background-color: orange;}
    20%  {background-color: yellow;}
    30%  {background-color: lime;}
    40%  {background-color: darkgreen;}
    50%  {background-color: blue;}
    60%  {background-color: navy;}
    70%  {background-color: purple;}
    80% {background-color: brown;}
    90% {background-color: black;}
    100% {background-color: red;}
}

#home {
  animation: back-change 40s infinite ease-in-out;
}
