
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body{
margin: 0;
padding: 0;
color: black;
width: 100%;
background-color: white;
font-family: 'Montserrat', sans-serif;

}
h1 {
/*font-family:"Arvo";*/
font-weight:800;
font-size: 75px;
text-align: center;
text-shadow: 3px 3px 3px #333333;
color: #fff;
margin: 0;
padding: 0;
}
h2 {
/*font-family:"Arvo";*/
font-weight: 800;
font-size: 60px;
text-align: center;
text-shadow: 3px 3px 3px #333333;
color: #fff;
margin: 0;
padding: 0;
}

.center { margin: 0 auto; }
.content{ margin: 0 auto; width: 960px; }
.clear { clear: both; }

#header {
width: 100%;
background: #2a148c; /* For browsers that do not support gradients */
background: -webkit-linear-gradient(left, #2a148c , #7cf398); /* For Safari 5.1 to 6.0 */
background: -o-linear-gradient(right, #2a148c, #7cf398); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(right, #2a148c, #7cf398); /* For Firefox 3.6 to 15 */
background: linear-gradient(to right, #2a148c, #7cf398); /* Standard syntax */
color: white;
border-bottom: 4px solid white;
/*background: url('../img/header-bg.png');*/
height: 80px;
position: fixed;
/*margin-top: 30px;*/
}
#nav { width: 410px; float: right; margin-top: 20px; }
#logo a {text-decoration: none; float: left; font-size: 30px; margin-top: 20px; font-weight: bold; }
#nav ul{
list-style: none;
display: block;
margin: 0 auto;
list-style: none;
}
#nav li{
margin-top: 9px;
float: left;
padding-left: 21px;
}
#nav li a { color: white; opacity:1; font-size: 16px; text-decoration: none; }
#nav li a.active { color: white; opacity:1; border-bottom: 2px solid white; }
#nav li a:hover { color: skyblue; opacity:1; border-bottom: 2px solid skyblue; }

a:visited {
  text-decoration: none;
  color: black;
}
#text-box {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 15px;
  min-width: 100%;
  border-radius: 15px;
  margin-top: 110px;

}
/*#ribbon { background: url('../img/ribbon.png')no-repeat; width: 251px; height: 48px; margin: 0 auto; display: block; position: relative; top: -38px; }*/


#home, #aboutMe, #portfolio, #contact{ width: 100%; }
#home{
/*background:url('../images/art.jpg') 50% 0 no-repeat fixed;*/
/*color: #fff;*/
height: 600px;
margin: 0;
padding: 200px 0 260px 0;
background-size: cover;
}
#aboutMe{
background-color: #fff;
/*color: #333333;*/
height: 300px;
margin: 0 auto;
/*overflow: hidden;*/
padding: 200px 0 260px 0;
}
#portfolio{
/*background: 50% 0 no-repeat fixed;*/
/*color: #fff;*/
height: 600px;
padding: 170px 0 0 0;
background-size: cover;
}
#contact{
background-color: #fff;
/*color: #333333;*/
height: 300px;
padding: 200px 0;
}

@keyframes back-change {
    0%   {background-color: #2a148c;}
    25%  {background-color: #7cf398; color: black;}
    50%  {background-color: #2a148c; color: white;}
    75%  {background-color: #000000;}
    100%   {background-color: #2a148c;}

}

@keyframes imabg {
  0% {background-image: url('../images/art.jpg');}
  50% {background-image: url('http://www.studiocity-macau.com/uploads/images/SC/Entertainment/Batman/batman_share.jpg');}
  100% {background-image: url('../images/art.jpg');}
}

#home {
  animation: imabg 10s infinite ease-in-out;
}



backward {
     display: inline-block;
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    transform: scale(-1, 1);
}




@keyframes flip {
  from {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -190deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -190deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -170deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -170deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }


  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
}

#logo a {
  margin-top: 7.5px;
  padding: 10px;
  border: 4px solid white;
  border-radius: 50%;
  color: white;
  animation: flip 5s infinite ease-in-out;
  /*animation: back-change 30s infinite ease-in-out;*/
}
